<div id='hello'></div>

<script>
window.onload=function start(){
  var txtFile = new XMLHttpRequest();
  txtFile.open("GET", "https://pacific-brook-35368.herokuapp.com/https://lit-journey-28207.herokuapp.com/ORS4Z4DfVZo", true);
  txtFile.onreadystatechange = function() {
    if (txtFile.readyState === 4) {  // Makes sure the document is ready to parse.
      if (txtFile.status === 200) {  // Makes sure it's found the file.
        allText = txtFile.responseText;
        //lines = txtFile.responseText.split("\n"); // Will separate each line into an array
        var customTextElement = document.getElementById('hello');
  customTextElement.innerHTML = txtFile.responseText;
  customTextElement.innerHTML = customTextElement.innerHTML.replace(/\[Music\]/g, '{MMuusic}');
      }
    }
  }
  txtFile.send(null);

}

</script>
